---
import { Icon } from "astro-icon/components";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div
    transition:name="about"
    class="max-w-[1250px] p-4 bg-[#704EE7] mx-auto h-full rounded-[62px] flex justify-center items-center relative"
  >
    <a
      href="/"
      class="w-[62px] h-[62px] flex items-center justify-center text-white top-[30px] right-[30px] bg-[#FCCF5A] absolute rounded-full"
    >
      <Icon name="material-symbols-light:arrow-back-rounded" size="62" />
    </a>
    <div>
      <div class="flex items-center space-x-5 mb-6">
        <Icon
          name="material-symbols-light:award-star-rounded"
          size="96"
          class="text-[#FCCF5A]"
        />
        <h1
          class="text-[#FCCF5A] text-[80px] font-nixie-one"
          style="font-size:clamp(18px, 4vw + 1rem, 80px)"
        >
          RAFAEL MEZA
        </h1>
      </div>
      <div class="flex justify-end">
        <a
          download
          title="Download Rafael Meza Resume | PDF"
          href="/pdfs/Rafael-Meza-Resume.pdf"
          class="bg-[#FCCF5A] px-8 font-raleway py-2 w-fit flex items-center space-x-4 rounded-[40px]"
          target="_blank"
          rel="noreferrer"
          ><span> Download Resume </span>
          <Icon
            name="material-symbols-light:download-rounded"
            size="48"
            class="text-white"
          />
        </a>
      </div>
    </div>
  </div>
</Layout>
