---
import { Icon } from "astro-icon/components";
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import me from "../assets/rafael-meza.jpg";
---

<Layout>
  <div
    transition:name="contact"
    class="max-w-[1250px] px-4 py-16 bg-[#F9F9F9] mx-auto min-h-full rounded-[62px] flex justify-center items-center relative"
  >
    <a
      href="/"
      class="absolute flex items-center justify-center rounded-full w-[52px] h-[52px] top-[30px] text-[#FCCF5A] bg-[#704EE7] right-[30px]"
    >
      <Icon name="material-symbols-light:arrow-back-rounded" size="52" />
    </a>
    <div>
      <div class="mb-6">
        <div class="flex items-center mb-6 space-x-5">
          <Icon
            name="material-symbols-light:award-star-rounded"
            size="96"
            class="text-[#FCCF5A]"
          />
          <h1
            class="text-[#FCCF5A] text-[80px] font-nixie-one"
            style="font-size:clamp(18px, 4vw + 1rem, 80px)"
          >
            RAFAEL MEZA
          </h1>
        </div>
        <div class="flex justify-end">
          <a
            download
            title="Download Rafael Meza Resume | PDF"
            href="/pdfs/Rafael-Meza-Resume.pdf"
            class="bg-[#FCCF5A] place-self-end px-8 font-raleway py-2 w-fit flex items-center space-x-4 rounded-[40px]"
            target="_blank"
            rel="noreferrer"
            ><span> Download Resume </span>
            <Icon
              name="material-symbols-light:download-rounded"
              size="48"
              class="text-white"
            />
          </a>
        </div>
      </div>
      <div class="flex flex-wrap items-center justify-end space-x-4 space-y-4">
        <p class="mb-1 text-sm">
          rhmcord@gmail.com <br />
          PHONE: +51 - 997258592 <br />
          GITHUB: raffo1234 <br />
          LINKEDIN: Rafael Meza
        </p>
        <div
          class="h-[200px] rounded-[30px] relative w-[200px] items-center justify-between overflow-hidden"
        >
          <Image
            src={me}
            class="absolute object-cover object-top w-full h-full"
            alt="Rafael Meza"
          />
        </div>
      </div>
    </div>
  </div>
</Layout>
