---
import { Icon } from "astro-icon/components";
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import tiger from "../assets/portfolio/tiger.png";
import renta2014 from "../assets/portfolio/renta-2014.png";
import travelmax from "../assets/portfolio/travelmax.png";
import yachay from "../assets/portfolio/yachay.png";
import grupon from "../assets/portfolio/grupon.png";
import laive from "../assets/portfolio/laive.png";
import yachayDashboard from "../assets/portfolio/dashboard-yachay.png";
import cancino from "../assets/portfolio/cancino.png";
import goldenpalace from "../assets/portfolio/goldenpalace.png";

const images = [
  cancino,
  tiger,
  renta2014,
  travelmax,
  yachay,
  grupon,
  laive,
  yachayDashboard,
  goldenpalace,
];
---

<Layout>
  <div
    transition:name="hobbies-interests"
    class="max-w-[1250px] bg-[#F3F3F3] mx-auto h-full rounded-[62px] flex
    justify-center items-center relative"
  >
    <a
      href="/"
      class="w-[62px] flex items-center justify-center h-[62px] absolute rounded-full top-[30px] z-20 right-[30px] bg-[#704EE7]"
    >
      <Icon
        name="material-symbols-light:arrow-insert-rounded"
        size="62"
        class="text-[#FCCF5A] -rotate-90"
      />
    </a>
    <div class="flex items-center h-full w-full md:p-5 lg:p-10">
      <div class="w-full h-full flex justify-center relative">
        {
          images.map((image, index) => {
            return (
              <Image
                src={image}
                class={`${index === 0 ? "!opacity-100" : ""}  slide-js opacity-0 transition-opacity ease-in-out duration-1000 absolute left-1/2 -translate-x-1/2 -translate-y-1/2 top-1/2 object-contain w-full h-full`}
                alt="Rafael Meza | Portfolio"
              />
            );
          })
        }
      </div>
    </div>
  </div>
</Layout>

<script is:inline>
  let currentSlide = 0;
  function showNextSlide(slides) {
    for (const el of slides) {
      el.classList.remove("!opacity-100");
    }
    slides[currentSlide].classList.add("!opacity-100");
    currentSlide = (currentSlide + 1) % slides.length;
  }

  const slides = document.querySelectorAll(".slide-js");

  if (slides.length > 0) {
    setInterval(showNextSlide, 1200, slides);
  }
</script>
