---
import { Icon } from "astro-icon/components";
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import tiger from "../assets/portfolio/tiger.png";
---

<Layout>
  <div
    transition:name="projects"
    class="max-w-[1250px] bg-[#FCCF5A] mx-auto h-full rounded-[62px] flex justify-center items-center relative"
  >
    <a
      href="/"
      class="w-[62px] flex items-center justify-center h-[62px] absolute rounded-full top-[30px] right-[30px] bg-[#704EE7]"
    >
      <Icon
        name="material-symbols-light:arrow-back-rounded"
        size="62"
        class="text-[#FCCF5A]"
      />
    </a>
    <div class="space-x-5 flex items-center w-full md:p-[40px] lg:p-[80px]">
      <div
        class="flex justify-end rounded-[30px] flex-1 bg-white w-[40%] h-[330px] p-10"
      >
        <ul class="text-right font-raleway">
          <li>Frontend Development</li>
          <li>HTML5</li>
          <li>CSS3</li>
          <li>Javascript</li>
          <li>GSAP</li>
          <li>Jquery</li>
        </ul>
      </div>
      <div class="rounded-[30px] flex-1 w-[40%] h-[330px] relative">
        <Image
          src={tiger}
          class="object-contain w-full h-full"
          alt="Rafael Meza | Portfolio"
        />
      </div>
    </div>
  </div>
</Layout>
